.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  padding: 48px 0;
}

.loader {
  border-radius: 50%;
  border-style: solid;
  border-color: #e44848;
  border-right-color: transparent;

  animation: spin 0.8s linear infinite;
}

.sm {
  width: 24px;
  height: 24px;
  border-width: 3px;
}

.md {
  width: 40px;
  height: 40px;
  border-width: 4px;
}

.lg {
  width: 64px;
  height: 64px;
  border-width: 5px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
