.page {
  max-width: 1440px;

  margin: 0 auto;

  padding: 48px 64px;

  display: grid;
  grid-template-columns: 360px 1fr;

  gap: 64px;
}

.catalog {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
