.page {
  max-width: 1440px;

  margin: 0 auto;

  padding: 48px 64px 80px;
}

.error {
  padding: 120px;

  text-align: center;

  font-size: 24px;

  font-weight: 600;
}

.description {
  margin-bottom: 60px;

  color: #475467;

  font-size: 16px;

  line-height: 1.5;
}
